/* Style sheet for home page */

.home-main-section {                                                                   /* For the section that holds the image and title/subtitle/button divs: */
    display: flex;                                                                       /* ... define as a flex container (display elements next to each other) ... */
    align-items: stretch;                                                                /* ... where items will stretch to be the full HEIGHT of the container ... */
    justify-content: space-evenly;                                                       /* ... and put as much space between the image and the title/subtitle/button divs as possible ... */
    flex-grow: 1;                                                                        /* ... and fill out the remaing height in the page. */
}

/*/ column Left with counter/*/
.home-main-section .left-column {                                              /* Targeting the decendant (img-wrapper) of the parent (.home-main-section): */
    display: flex;                                                                        /* ... display elements next to each other ... */
    flex-direction: column;                                                               /* ... display elements stacked on top of each other ... */
    align-items: flex-start;                                                              /* ... so that items do not expand to fill entire width ... */
    margin: 2rem;                                                                         /* ... for spacing between image and text ...*/
    align-self: center;                                                                   /* ... centers the content in the center of the screen. */
}

.counter {
    font-size: 10rem;
}

/*/ Call to Action Right with increment button/*/
.home-main-section .call-to-action {                                                     /* For call to action (on right) */
    display: flex;                                                                        /* ... display elements next to each other ... */
    flex-direction: column;                                                               /* ... display elements stacked on top of each other ... */
    align-items: flex-start;                                                              /* ... so that items do not expand to fill entire width ... */
    margin: 2rem;                                                                         /* ... for spacing between image and text ...*/
    align-self: center;                                                                   /* ... centers the content in the center of the screen. */
}


@media (max-width: 900px) {
    .home-main-section .counter-position {
      display: none;
    }
  
    .home-main-section {
      justify-content: center;
    }
  }